{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div id="container" style="position: absolute; top: 30%; left: 40%;">
    <div class="form-wrap">
        <h1>Register for printables</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
                <legend class="border-bottom mb4">Register</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
				<button type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'login' %}" class="ml-2">Log In</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}