@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
html{
    overflow-x: hidden;
}

.home_container{
    
    height: 80vh;


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;

}

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%);
font-family: "Montserrat",sans-serif;
background: radial-gradient(#fc208e3b, #4a22fa15);
background-color: #000000;


}

.category_btn{
    background: -webkit-linear-gradient(45deg,#ff2c6b, #3c3cfd);
    border: none;
    color: white;
}


.navvy{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(3, 0, 22) 0%, rgb(0, 0, 0) 100%);
    border-bottom: none;
    width: 100vw;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 1000;

    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-evenly;
    
    
}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 40vw;
}

.text{
    padding-top: 30px;
}

.customised{
    
        font-size: 5rem;
        font-weight:600;
        background: -webkit-linear-gradient(45deg,#ff2c6b, #1613f5);
        -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;

}
@-webkit-keyframes glowing {
    from {
      text-shadow: 0 0 10px #ffffff00, 0 0 10px rgba(255, 0, 255, 0), 0 0 20px rgba(255, 0, 234, 0.267), 0 0 30px #2300e600, 0 0 40px #0f00e65d, 0 0 30px #e6007354;
    }
    to {
      text-shadow: 0 0 20px #ffffff00, 0 0 30px #ff4df6, 0 0 40px #e709b02c, 0 0 50px #ff4dd828, 0 0 60px #ff4daf34, 0 0 70px #4d59ff, 0 0 80px #ff4d8856;
    }
  }

 .customised2{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 600;
    
}

.posters{
    width: 30vw;
    height: auto;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}

.posters:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg) scale(1.1);
    
    transition: 0.5s ease-in-out;
    
    
}


.footies{
    
   position:absolute;
    bottom: 0;
    left: 0;
    
}

.category-dropdown-div{
    padding: 10px 0px
}

.logo-div{
    padding-top: 10px;
}

.cart-icon
{
    font-size: 2rem;
}

@media (max-width: 760px){

    .navvy{
        height: 90px;
        margin-bottom: 40px;
    }
    .home_container{
        
        flex-direction: column;
    
    }

    .nav-left{
        flex-direction: column;
    }

    .nav-right{
        flex-direction: column-reverse;
    }

    .posters{
        width: 80vw;
    }
    .customised{
    
        font-size: 3rem;
        font-weight:600;
       }

    .customised2{
        font-size: 2rem;
        
    }
    
}


.order_btn{
    border: none;
    width: 10rem;
    border-radius: 2.5rem;

    background: -webkit-linear-gradient(45deg,#ff2c6b, #1613f5);
    animation: animate1 1s linear infinite;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    transition: all 1sec ease-in-out;
}

.order_btn:hover{
    box-shadow: 0 0 100px 15px #2925ff73;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
